@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #eeeeee;
  min-height: 100vh;
  font-family: "Dosis", sans-serif;
}

.navWrapper {
  position: fixed;
  width: 100%;
}

.navigationLogo {
  @media (max-width: $mobile) {
    padding-top: 0.5rem;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: #ffffff;

  @media (max-width: $mobile) {
    height: 5rem;
    flex-flow: column nowrap;
  }
}

.navigationList {
  display: flex;
  width: 53%;

  @media (max-width: $mobile) {
    width: 100%;
  }

  justify-content: space-around;
  &__list {
    position: relative;
    list-style-type: none;

    & a,
    p {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 1.2rem;
      color: black;
      padding: 1.25rem 0.5rem;
      cursor: pointer;

      @media (max-width: $mobile) {
        padding: 0.5rem 0.4rem;
        font-size: 0.9rem;
      }
    }

    & a:hover {
      color: #c39f76;
    }

    & p:hover {
      color: #c39f76;
    }

    &:hover ul {
      // opacity: 1;
      // transform: translateY(-5px);
      pointer-events: all;
      color: #c39f76;
    }
  }

  &__dropdown {
    // opacity: 0;
    display: none;
    position: absolute;
    background-color: #ffffff;
    list-style-type: none;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    padding: 0.4rem 0.2rem;
    // transition: all 0.4s ease;
    // transform: translateY(0px);
    // pointer-events: none;

    & li {
      border-radius: 0.25rem;
    }

    & li a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 1rem;
      color: black;
      padding: 1rem 0.5rem;
      @media (max-width: $mobile) {
        font-size: 0.7rem;
        padding: 0.5rem 0.4rem;
      }
    }

    & li a:hover {
      background-color: #f3f3f3;
      // opacity: 1;
      // visibility: visible;
    }
  }
}

// section {
//   display: flex;
//   // background-color: $wtf;
//   color: black;
//   max-width: 50%;
//   height: 200px;
//   align-items: center;
//   margin: auto;
// }

// .formWrapper {
//   flex-direction: column;
//   align-items: center;
//   display: flex;
// }

// .form {
//   position: relative;
//   width: 50%;
//   height: 50px;
//   overflow: hidden;
// }

// .form input {
//   width: 100%;
//   height: 100%;
//   padding-top: 20px;
//   color: black;
//   border: none;
//   outline: none;
// }

// .form label {
//   position: absolute;
//   bottom: 0px;
//   left: 0%;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   border-bottom: 1px solid black;
// }

// .form label::after {
//   content: "";
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   border-bottom: 3px solid #c39f76;
//   left: 0px;
//   bottom: -1px;
//   transform: translateX(-100%);
//   transition: transform 0.3s ease;
// }

// .contentName {
//   position: absolute;
//   bottom: 5px;
//   left: 0px;
//   transition: all 0.3s ease;
// }

// .form input:focus + .labelName .contentName,
// .form input:valid + .labelName .contentName {
//   transform: translateY(-150%);
//   color: #c39f76;
//   font-size: 14px;
// }

// .form input:focus + .labelName::after,
// .form input:valid + .labelName::after {
//   transform: translateX(0%);
// }
